<!-- <div class="nyt-header text-center">
  <img class="brand-logo" src="../assets/header.png">
</div> 
<div class="page-content-wrapper">
  <app-navbar></app-navbar>
   <router-outlet></router-outlet> 
</div> -->
<div>
  <div class="container-fluid">
    <div class="row">
  <div class="card mx-auto my-3" style="width: 20rem;" *ngFor="let home of homes">
    <img class="card-img-top" src="{{home.multimedia[2].url}}" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title text-center mb-3" style="color: red;">
         {{home.title}}
      </h6>
      <div class="heading text-center">{{home.abstract}}</div>
          <div class="text-center mt-3"> published {{home.byline}} </div> 
          <div class="text-center mt-3"> on {{home.created_date}} , {{home.section}}</div>
        <div class="text-center mt-4">
          <a href="{{home.url}}" class="btn btn-primary">Read More</a>
        </div>
      </div>
        </div>
        </div>
        </div> 
    </div>
    
    
